* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: black;
    color: white;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, purple, black);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero button {
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    background: orange;
    cursor: pointer;
}

.section {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    margin: 10px;
    width: 150px;
    box-shadow: 0 0 10px gray;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

#characterList {
    list-style: none;
    margin-top: 20px;
}